/* Shoutout To Breakfast For The :root Idea */
:root {
    --bgdark: #2e3440;
    --fgdark: #d8dee9;
    --bglight: #434c5e;
    --fglight: #eceff4;
    --bgtitle: #4c566a;
    --accent: #5D78FF;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

#currentTime {
    font-size: 45px;
    text-align: center;
    font-family: 'Hack';
    font-weight: 300;
    color: var(--fgdark);
}

#date {
    text-align: center;
    font-size: 45px;
    color: var(--fgdark);
    letter-spacing: 1.5px;
    font-weight: 300;
    font-family: 'Hack';
}

html,
body {
    width: 100%;
    height: 100%;
    background: #0F111D;
    font-family: "Hack", monospace;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'Hack';
    src: local('Hack');
}

body {
    margin: 0 auto;
    max-width: 1200px;
    color: var(--fgdark);
    font-family: 'Hack', 'Hack';
    user-select: none;
    -moz-user-select: none;
}

.shadow-box {
    box-shadow: 5px 5px 10px 5px #101010;
}

body.nojs #top-header {
    min-height: 158px;
}

#top-header {
    padding: 20px;
}

#header-cont {
    display: flex;
    flex-flow: row wrap;
}

#memes {
    text-align: center;
    font-size: 45px;
}

header {
    margin-bottom: 5px;
    width: 100%;
}

header.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

form {
    margin: 10px 10px 0 10px;
}

form input[type="text"] {
    width: 100%;
    box-sizing: border-box;

    padding: 10px;
    border: 2px solid var(--bglight);

    background: #181B2E;
    color: var(--fglight);

    font-family: 'Hack', 'Hack';
    font-size: 1.25rem;
    text-align: center;
}

form input[type="text"]:hover,
form input[type="text"]:focus {
    border-color: var(--accent);
}

header.sticky form input[type="text"] {
    opacity: 0.85;
}

header.sticky form input[type="text"]:hover,
header.sticky form input[type="text"]:focus {
    opacity: 1;
}


main {
    overflow-y: scroll;
    max-height: 425px;
    display: flex;
    flex-flow: row wrap;
}

header.sticky+main {
    padding: 68px 0 10px 0;
}

.nav-wrapper {
    margin: 10px;
    border: 2px solid var(--bglight);
}

.nav-wrapper:hover {
    border-color: var(--accent);
}

.nav-wrapper:hover h1 {
    background: var(--accent);
}


main section {
    flex: 1 1 100%;
    box-sizing: 200px;
}

@media only screen and (min-width: 480px) {
    main section {
        flex: 1 1 100%;
    }
}

@media only screen and (min-width: 768px) {
    main section {
        flex: 1 1 25%;
    }
}

main h1 {
    font-size: 1.1rem;
    font-weight: normal;

    color: var(--fglight);
    background: var(--bglight);
    text-align: center;

    padding: 5px;
    margin: 0;

    position: relative;
    z-index: 2;
}

main nav {
    padding: 5px;
    background: #181B2E;
}

main nav a {
    display: block;

    color: var(--fglight);
    text-decoration: none;

    padding: 0 15px;
    margin: 5px 0;
}

main nav a:hover,
main nav a:focus {
    color: var(--accent);
}

main nav a img {
    width: 1rem;
    height: 1rem;
}